 * {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
	font-weight: 500;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 4px 10px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.75);
    animation: slideIn 0.1s ease-in-out both;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 0;
    padding: 0;
    animation: fadeIn 0.1s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 4px 10px;
 }

 /* Scroll */
 #scroll {
    margin: 0px 10px;
    padding: 10px;
 }

 /* Input */
 #input {
    margin: 10px 5px;
    padding: 4px 10px;
    border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
    color: #FFFFFF;
    background-color: transparent;
    animation: fadeIn 0.1s ease-in-out both;
 }

 #input:focus {
	box-shadow: none;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 4px 10px;
    border: none;
    color: #555555;
    animation: fadeIn 0.1s ease-in-out both;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: rgba(255, 255, 255, 0.05);
   border: none;
   border-radius: 7px;
   outline: none;
 }

 #entry:selected #text {
    color: #FFFFFF;
 }

